.section {
  @apply bg-white;
}

.section :focus {
  scroll-margin-top: calc(var(--navbar-height) + theme('height.8'));
}

.description {
  @apply text-black;
  grid-area: description;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @apply overflow-hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@supports (-webkit-line-clamp: 3) {
  .description {
    white-space: normal;
    hyphens: auto;
    word-wrap: break-word;
    /* autoprefixer: ignore next */
    display: -webkit-box;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    /* autoprefixer: ignore next */
    -webkit-line-clamp: 3;
  }
}
:global(.is-overdue) .description {
  --text-opacity: 0.66;
}

.items {
  @apply pb-6;
}

.todo {
  @apply grid rounded-lg relative w-full pb-1;
  grid-template-columns: min-content 1fr;
  grid-template-areas:
    'checkbox time'
    'checkbox description';
  scroll-snap-align: start;
  scroll-margin-top: theme('height.8');
  transition: background-color 100ms ease-out;
}
.todo:hover {
  @apply bg-gray-100;
}
.todo:focus-within {
  box-shadow: inset theme('boxShadow.outline');
}
@media (hover: hover) {
  .todo:active {
    box-shadow: inset theme('boxShadow.outline');
  }
}

.header {
  @apply flex items-center h-8 bg-white z-10 uppercase sticky text-gray-600;
  --bg-opacity: 0.95;
  top: var(--navbar-height);
}

:global(.is-today) .header,
:global(.is-current) .time {
  @apply text-blue-500;
}

.time {
  @apply pt-1 text-gray-600;
  grid-area: time;
  float: right;
  font-variant-numeric: tabular-nums;
  font-weight: 600;
  font-size: 0.8em;
}
.time:hover {
  @apply cursor-pointer;
}
:global(.is-overdue) .time {
  @apply text-gray-500;
}

.checkboxLabel {
  @apply pr-2 pt-6 relative;
  grid-area: checkbox;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.checkboxLabel input {
  @apply -mt-1;
}

:global(.is-overdue) .checkboxLabel input {
  @apply text-blue-500 text-opacity-50;
}

:global(.is-current) .checkboxLabel:before {
  @apply bg-blue-500 mr-2 right-0 top-0 h-2 mt-3 mb-1 absolute rounded-full w-2;
  content: '';
  transform: translate(-50%, -33%);
}

:global(.is-today.is-hyperfocus) .items {
  position: sticky;
  top: calc(var(--navbar-height) + theme('height.8'));
}

:global(.is-today.is-hyperfocus).section {
  min-height: calc(
    100vh - var(--navbar-height) - 210px - var(--demo-notification)
  );
}
@screen sm {
  :global(.is-today.is-hyperfocus).section {
    min-height: calc(
      100vh - var(--navbar-height) - 120px - var(--demo-notification)
    );
  }
}
:global(.is-today.is-hyperfocus) .todo {
  scroll-snap-align: unset;
  scroll-margin-top: unset;
}
:global(.is-today.is-hyperfocus) .header {
  scroll-snap-align: start;
}
