.section {
  @apply bg-white;
  scroll-snap-align: start;
}
:global(.is-today).section {
  min-height: calc(
    100vh - var(--navbar-height) - 210px - var(--demo-notification)
  );
}
@screen sm {
  :global(.is-today).section {
    min-height: calc(
      100vh - var(--navbar-height) - 120px - var(--demo-notification)
    );
  }
}

.section :focus {
  scroll-margin-top: calc(var(--navbar-height) + theme('height.8'));
}

.description {
  @apply overflow-hidden;
  padding: 6px 0;
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.items {
  @apply pb-6;
}

:global(.is-today) .items {
  position: sticky;
  top: calc(var(--navbar-height) + theme('height.8'));
}

.header {
  @apply flex items-center h-8 bg-white z-10 uppercase sticky text-gray-600;
  --bg-opacity: 0.95;
  top: var(--navbar-height);
}

:global(.is-today) .header {
  @apply text-blue-500;
}

.time {
  @apply py-1 pl-2;
  float: right;
  font-variant-numeric: tabular-nums;
  font-weight: 600;
  font-size: 0.8em;
}

.checkboxLabel {
  @apply py-1 pr-2;
  align-self: stretch;
}
