.section {
  @apply bg-white;
  scroll-snap-align: start;
}
:global(.is-today).section {
  min-height: calc(
    100vh - var(--navbar-height) - 210px - var(--demo-notification)
  );
}
@screen sm {
  :global(.is-today).section {
    min-height: calc(
      100vh - var(--navbar-height) - 120px - var(--demo-notification)
    );
  }
}

.section :focus {
  scroll-margin-top: calc(var(--navbar-height) + theme('height.8'));
}

.description {
  grid-area: description;

  @apply overflow-hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@supports (-webkit-line-clamp: 3) {
  .description {
    white-space: normal;
    hyphens: auto;
    word-wrap: break-word;
    /* autoprefixer: ignore next */
    display: -webkit-box;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    /* autoprefixer: ignore next */
    -webkit-line-clamp: 3;
  }
}

.items {
  @apply pb-6;
}
:global(.is-today) .items {
  position: sticky;
  top: calc(var(--navbar-height) + theme('height.8'));
}

.todo {
  @apply grid rounded-lg relative w-full pb-1;
  grid-template-columns: min-content 1fr;
  grid-template-areas:
    '. time'
    'checkbox description';
}
.todo:focus-within,
.todo:active {
  box-shadow: inset theme('boxShadow.outline');
}

.header {
  @apply flex items-center h-8 bg-white z-10 uppercase sticky text-gray-600;
  --bg-opacity: 0.95;
  top: var(--navbar-height);
}

:global(.is-today) .header {
  @apply text-blue-500;
}

.time {
  @apply pt-1 text-gray-600;
  grid-area: time;
  float: right;
  font-variant-numeric: tabular-nums;
  font-weight: 600;
  font-size: 0.8em;
}
.time:hover {
  @apply cursor-pointer;
}

.checkboxLabel {
  @apply pr-2 flex items-start pt-1;
  grid-area: checkbox;
}
