.navbar {
  /* Used to hide the header that isn't currently in use, it's a perf optimization */
  --header-breakpoint: theme('screens.sm');
  @apply top-0 sticky z-10 bg-white items-center flex-shrink-0;
  height: var(--navbar-height);
}

.navbar :focus {
  /* Ensures tabbing to elements don't cause a scroll on the main page */
  scroll-margin-top: calc(var(--navbar-height) * -1);
}
