@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./_config.css');
@import url('./dialog.css');
@import url('./menu-button.css');
@import url('./safarifix.css');

html,
body {
  scroll-padding-top: var(--navbar-height);
  scroll-padding-bottom: 60px;
}
@supports (scroll-behavior: smooth) {
  html,
  body {
    scroll-snap-type: y proximity;
  }
}

html {
  /* Position fixed TabBar component in Header.tsx */
  padding-bottom: 60px;
}
@screen sm {
  html,
  body {
    scroll-padding-bottom: 0;
  }
  html {
    @apply pb-0;
  }
}

body {
  padding-bottom: env(safe-area-inset-bottom);
}

// Fast tap events
a,
button {
  touch-action: manipulation;
}

// Handle display cutouts
.px-inset {
  @apply px-4;
}
@supports (padding: max(0px)) {
  .px-inset {
    padding-left: max(theme('padding.4'), env(safe-area-inset-left));
    padding-right: max(theme('padding.4'), env(safe-area-inset-right));
  }
}
.px-inset-l {
  @apply pl-4;
}
@supports (padding: max(0px)) {
  .px-inset-l {
    padding-left: max(theme('padding.4'), env(safe-area-inset-left));
  }
}
.px-inset-r {
  @apply pr-4;
}
@supports (padding: max(0px)) {
  .px-inset-r {
    padding-right: max(theme('padding.4'), env(safe-area-inset-right));
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  html,
  body {
    scroll-behavior: smooth;
  }
}

.h-inherit {
  height: inherit;
}

.min-h-50vh {
  min-height: 50vh;
}

.loading {
  opacity: 0;
  animation: fadein 300ms 1s both;
}
body.loaded .loading {
  animation-delay: 0s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tnum {
  font-variant-numeric: tabular-nums;
  font-feature-settings: 'tnum';
}
