@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./_config.css');
@import url('./menu-button.css');

.h-inherit {
  height: inherit;
}

.min-h-50vh {
  min-height: 50vh;
}

.loading {
  opacity: 0;
  animation: fadein 300ms 1s both;
}
body.loaded .loading {
  animation-delay: 0s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
