:root {
  --reach-dialog: 1;
}

[data-reach-dialog-overlay] {
  @apply fixed inset-0 flex items-end justify-center z-50 overflow-auto bg-black flex-wrap;
  --bg-opacity: 0.33;
  padding-bottom: env(safe-area-inset-bottom);
  will-change: opacity;
}

[data-reach-dialog-content] {
  @apply outline-none rounded-lg bg-white p-4 max-w-lg m-2;
  box-shadow: theme('boxShadow.2xl'), theme('boxShadow.xl'),
    theme('boxShadow.xs'), theme('boxShadow.xs');
  will-change: transform;
}

@screen sm {
  [data-reach-dialog-overlay] {
    @apply items-start;
    padding-bottom: 0;
  }

  [data-reach-dialog-content] {
    @apply p-8;
  }
}
